.large-button{
    width: 100%;
    font-weight: bolder
}
@media only screen and (max-width: 600px) {
    #chart2{
        display:block
    }
    #chart{
        display:none
    }
    .head-cont{
        width:320px
    }
    .svg{
        display:none
    }
    .svg2{
        display:block;
        
    }
    
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    #chart2{
        display:block
    }
    #chart{
        display:none
    }
    .svg{
        display:none
    }
    .svg2{
        display:block;
        
    }
}

@media only screen and (min-width: 768px) {
    #chart2{
        display:block
    }
    #chart{
        display:none
    }
    .svg{
        display:none
    }
    .svg2{
        display:block
    }

}
@media only screen and (min-width: 768px)and (orientation:portrait){
    #chart2{
        display:block
    }
    #chart{
        display:none
    }
    .svg{
        display:block
    }
    .svg2{
        display:none
    }

}


@media only screen and (min-width: 1024px) {
    #chart2{
        display:none
    }
    #chart{
        display:block
    }
    .svg{
        display:block
    }
    .svg2{
        display:nonde
    }

}  
